<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:include="layouts/fragments/head" > </head>

<body>

  <section id="container" >
      <header th:replace="layouts/fragments/header" class="header black-bg"></header>
      <aside th:include="layouts/fragments/menu" > </aside>
      <section layout:fragment="content" id="main-content"> </section>
  </section>
  <div th:replace="/layouts/fragments/scripts" />
  
</body>
</html>
