<div class="nav notify-row" id="top_menu">
      <!--  notification start -->
      <ul class="nav top-menu">
         <!-- settings start -->
         <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
            <i class="fa fa-globe"></i>
           
            </a>
            <ul class="dropdown-menu extended tasks-bar">
               <div class="notify-arrow notify-arrow-green"></div>
               <li>
                  <p class="green" th:text="#{language.title}"  ></p>
               </li>
               <li>
                 <a href="?lang=EN" >
                     <div class="task-info">
                         <div class="desc" th:text="#{language.english}"></div>
                     </div>
                 </a>
               </li>
               <li>
                 <a href="?lang=PT" >
                     <div class="task-info">
                         <div class="desc" th:text="#{language.portuguese}" > </div>
                 
                     </div>
                 </a>
               </li>
            </ul>
         </li>
      </ul>
   </div>