 <div id="sidebar"  class="nav-collapse ">
    <ul class="sidebar-menu" id="nav-accordion">
        <p class="centered">
            <a th:href="@{/operador/perfil/} + ${#authentication.getPrincipal().operador.id}">
                <img th:src="'/assets/img/users/' + ${#authentication.getPrincipal().operador.foto}" class="img-circle" width="60" />
            </a>
        </p>
        <h5 th:text ="${#authentication.getPrincipal().operador.nome}" class="centered"> </h5>

        <li class="mt">
            <a  th:href="@{/home}">
                <i class="fa fa-dashboard"></i>
                <span>Home</span>
            </a>
        </li>
        <li class="mt" >
            <a th:href="@{/call/}" >
                <i class="fa fa-phone"></i>
                <span th:text="#{menu.call}"> </span>
            </a>
        </li>
        <li class="mt">
            <a  th:href="@{/report/}">
                <i class="fa fa-file-text"></i>
                <span th:text="#{menu.report}"></span>
            </a>
        </li>
        <li class="mt">
            <a th:href="@{/customer/}" >
                <i class="fa fa-address-card"></i>
                <span th:text="#{menu.customer}"> </span>
            </a>

        </li>
        <li sec:authorize="hasRole('ROLE_ADMIN')"  class="mt">
            <a th:href="@{/operador/}" >
                <i class="fa fa-users"></i>
                <span th:text="#{menu.operator}"> </span>
            </a>
        </li>

    </ul>
 </div>