 <div id="sidebar"  class="nav-collapse ">
    <ul class="sidebar-menu" id="nav-accordion">
        <p class="centered">
            <a href="profile.html">
                <img src="/assets/img/ui-sam.jpg" class="img-circle" width="60" />
            </a>
        </p>
        <h5 th:inline="text" class="centered"> [[${#httpServletRequest.remoteUser}]]</h5>

        <li class="mt">
            <a class="active" href="index.html">
                <i class="fa fa-dashboard"></i>
                <span>Home</span>
            </a>
        </li>
        <li class="mt" >
            <a href="#" >
                <i class="fa fa-desktop"></i>
                <span> Chamados</span>
            </a>
        </li>
        <li class="mt">
            <a  th:href="@{/report/}">
                <i class="fa fa-file-text"></i>
                <span>Relatorios</span>
            </a>
        </li>
        <li class="mt">
            <a th:href="@{/customer/}" >
                <i class="fa fa-users"></i>
                <span> Clientes</span>
            </a>


        </li>
        <li class="mt">
            <a th:href="@{/operador/listagem}" >
                <i class="fa fa-users"></i>
                <span> Operadores</span>
            </a>
        </li>

    </ul>
 </div>