<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      lang="en" layout:decorator="layouts/main">

<body>

  <section layout:fragment="content"  id="main-content">
    <section class="wrapper site-min-height">
        <h3 th:text="#{call.title}"  ><i class="fa fa-angle-right"></i> </h3>
        <div class="row mt">
            <div class="col-lg-12">
            <div class="col-lg-12 ds"> 
	           <h3> Chamados</h3>
	           <br/>           
			   <div  th:each=" chamado : ${chamados}" class="desc">
			    	<div class="thumb">
			    		<span class="badge bg-theme"><i class="fa fa-phone"></i></span>
			    	</div>
			    	<div class="details">
			    		<p>
			    		   <a th:text="${chamado.id} + ' --- ' +  ${chamado.assunto}"  href="#"></a>
			   		    </p>
			    	</div>
			    </div>
             </div>
        </div>
       </div>
     </section>
  </section>
</body>
</html>                                    