<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      lang="en" layout:decorator="layouts/main">

<body>
	<section layout:fragment="content"  id="main-content">
	  <section class="wrapper site-min-height">
	     <h3 th:text="'Chamado : ' + ${chamado.id}" ><i class="fa fa-angle-right"></i> </h3>
	     <div class="row mt">
            <div class="col-lg-10">
                 <div class="form-panel">
                        Assunto :
                        <span th:text="${chamado.assunto}"> </span> 
                        <br/>
                        Tipo :
                        <br/>   
                        Descrição :
                        <span th:utext="${chamado.descricao}"> </span>
                 </div>
            </div>
         </div>
         
         <div  th:each = "interacao : ${interacoes}" class="row mt">
            <div class="col-lg-10">
                 <div   class="form-panel">
                       <div  th:utext="${interacao.comentario}"> 
                       </div>  
                 </div>
            </div>
         </div>
         <div class="row mt">
	         <div class="col-lg-10">
	             <div class="form-panel">
	                   <form th:action="@{/call/saveInteration}" class="form-horizontal style-form" method="post">
	                        <input name="id" type="hidden" th:value="${id}" />
	                        <input name="idOperador" type="hidden" th:value="${#authentication.getPrincipal().operador.id}" />
	                        <div class="form-group" >
	                            <div class="col-sm-12">
	                                <textarea name="comentario" id="editor1" rows="10" cols="80">
	                                </textarea>
	                            </div>
	                        </div>
	                        <div class="form-group " >
		   	                   <div class="col-lg-12">
		   	                        <button th:text="'Incluir Comentário'"  type="submit" class="btn btn-theme02">  
		   	                         </button>    
		   	                   </div>	
                           </div>
	                   </form>  
	             </div>             
	         </div>
		 </div>
	  </section>
	</section>
	<th:block layout:fragment="js-view">
        <script type="text/javascript" src="/webjars/ckeditor/4.7.0/basic/ckeditor.js"></script>
        <script type="text/javascript" src="/assets/js/calls/add_edit.js"></script>
    </th:block>
</body>
</html>