<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      lang="en" layout:decorator="layouts/main">

<body>
	<section layout:fragment="content"  id="main-content">
	  <section class="wrapper site-min-height">
	     <h3 th:text="'Chamado : ' + ${chamado.id}" ><i class="fa fa-angle-right"></i> </h3>
	     <div class="row mt">
            <div class="col-lg-10">
                 <div class="form-panel">
                        Assunto :
                        <span th:text="${chamado.assunto}"> </span> 
                        <br/>
                        Tipo :
                        <br/>   
                        Descrição :
                        <span th:utext="${chamado.descricao}"> </span>
                 </div>
            </div>
         </div>
         
         <div  th:each = "interacoa : ${interacoes}" class="row mt">
            <div class="col-lg-10">
                 <div   class="form-panel">

                       <div  h:utext="${chamado.descricao}"> 
                       </div>  
                 </div>
            </div>
         </div>
         
         <div class="col-lg-10">
		   	<button th:text="'Incluir Comentário'"  type="button" class="btn btn-theme02"><i class="fa fa-check"></i> </button>	
         </div>
	  </section>
	</section>
</body>
</html>